* {
    margin: 0;
    padding: 0;
}
.container-card {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card {
    width: 400px;
    height: 700px;
    background: purple;
    border-radius: 15px;
    position: relative;
}
.card h1 {
    position: absolute;
    right: 30px;
    top: 30px;
    color: darkorange;
    font-size: 2em;
    line-height: 48px;
}
.circle-grup {
    width: 100px;
    display: flex;
    position: absolute;
    top: 30px;
    left: 30px;
}
.circle-grup .circle1 {
    width: 50px;
    height: 50px;
    background: red;
    opacity: .8;
    border-radius: 50%;
}
.circle-grup .circle2 {
    width: 50px;
    height: 50px;
    background: darkorange;
    border-radius: 50%;
    margin-left: -25px;
}
.card p {
    position: absolute;
    top: 85px;
    left: 38px;
    color: #fff;
}
.card .card_name {
    width: 282px;
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translateX(-50%);
}
.card_name h2 {
    font-size: 1.4em;
    color: rgba(255, 255, 255, 0.8);
}
