.load {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: conic-gradient(
        #0000 10%,
        #520E9B
    );
    -webkit-mask: radial-gradient(
        farthest-side,
        #0000 calc(100% - 10px),
        #000
        0
    );
    animation: spin .7s linear infinite;
}
@keyframes spin {
    to {
        transform: rotate(1turn);
    }
}
