* {
            margin: 0;
            padding: 0;
        }

        body {
            display: flex;
            justify-content: center;
            margin-top: 40px;
            background-color: #000;
        }

        .netflix {
            height: 200px;
            width: 48px;
            border-left: 40px solid red;
            border-right: 40px solid red;

        }

        .netflix::before {
            display: block;
            content: '';
            width: 100;
            height: 100%;
            background-color: darkred;
            transform: skewX(22deg);
            box-shadow: 0 0 30px #000;
        }