* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: ease-in-out .3s;
}

nav {
    padding: 10px;
    background-color: #6D04BA;
    color: whitesmoke;
    text-align: center
}

main {
    padding: 20px;
}

.form_product {
    border: 2px solid rgba(92, 90, 94, .1);
    border-radius: 5px;
    padding: 10px;
}

.lineInput {
    display: grid;
    margin-top: 5px;
}

.lineInput input {
    border-radius: 5px;
    border: 1.5px solid rgba(92, 90, 94, .15);
    outline: 0;
}

.lineInput input[type='submit'] {
    margin-top: 5px;
    padding: 5px;
    color: whitesmoke;
    background-color: #6D04BAD1;
    border: none;
}

.lineInput input[type='submit']:hover {
    background-color: #410270D1;
}

.table_products {
    margin-top: 20px;
}

table {
    border-collapse: collapse;
}

table th {
    padding: 3px;
    background-color: rgba(92, 90, 94, .3);
    border: 1px solid rgba(92, 90, 94, .3);
}

table tr td {
    border: 1px solid rgba(92, 90, 94, .3);
}

table .icon_action {
    width: 45px;
    height: 30px;
    border-radius: 2px;
}

table .icon_action_delete:hover {
    background-color: rgba(255, 4, 4, .7);
}
.div_order_icons {
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon_action img {
    width: 25px;
    height: 25px;
}

table .icon_action_edit:hover {
    background-color: rgba(4, 139, 255, 0.7);
}
